@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::selection {
  background-color: #3a4b3b;
  color: #b9ccb7;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  font-size: 20px;
  user-select: none;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2b2c2c;
}

[contenteditable]:focus {
  outline: none;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: rgba(172, 171, 170, 0.4);
  pointer-events: none;
}
